@font-face {
    font-family: "Proxima Nova";
    src: url('/fonts/proximanova/proximanova-bold-webfont.eot');
    src: url('/fonts/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/proximanova/proximanova-bold-webfont.svg') format('svg'), url('/fonts/proximanova/proximanova-bold-webfont.woff') format('woff'), url('/fonts/proximanova/proximanova-bold-webfont.ttf') format('truetype');
    font-weight: bold; /* or 700 */
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url('/fonts/proximanova/proximanova-boldit-webfont.eot');
    src: url('/fonts/proximanova/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/proximanova/proximanova-boldit-webfont.svg') format('svg'), url('/fonts/proximanova/proximanova-boldit-webfont.woff') format('woff'), url('/fonts/proximanova/proximanova-boldit-webfont.ttf') format('truetype');
    font-weight: bold; /* or 700 */
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url('/fonts/proximanova/proximanova-sbold-webfont.eot');
    src: url('/fonts/proximanova/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/proximanova/proximanova-sbold-webfont.svg') format('svg'), url('/fonts/proximanova/proximanova-sbold-webfont.woff') format('woff'), url('/fonts/proximanova/proximanova-sbold-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url('/fonts/proximanova/proximanova-reg-webfont.eot');
    src: url('/fonts/proximanova/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/proximanova/proximanova-reg-webfont.svg') format('svg'), url('/fonts/proximanova/proximanova-reg-webfont.woff') format('woff'), url('/fonts/proximanova/proximanova-reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url('/fonts/proximanova/proximanova-regit-webfont.eot');
    src: url('/fonts/proximanova/proximanova-regit-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/proximanova/proximanova-regit-webfont.svg') format('svg'), url('/fonts/proximanova/proximanova-regit-webfont.woff') format('woff'), url('/fonts/proximanova/proximanova-regit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}